$blue: #3b96fe;
$lightgrey: #eff0f0;
$grey: #d9d9d9;

body {
  text-align: center;
  background: $lightgrey;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
#root {
  width: 600px;
  background: $grey;
  margin: auto;
}
h1 {
  background: $blue;
  color: white;
  padding: 10px 0px;
  margin: 0px;
}
#taskform {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#taskinput {
  width: 84%;
  border: none;
  font-size: 28px;
  margin: 0;
  padding: 5px 0px 5px 3%;
}
#add {
  padding: 5px;
  border: none;
  font-size: 28px;
  background: $blue;
  color: white;
  margin: 0;
  width: 13%;
}
@keyframes fadein {
  0% {transform: scale(.5);}
  100% {transform: scale(1);}
}
#flexcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom: 5px solid $grey;
  font-size: 24px;
  padding: 10px;
  margin: 0px 4px;
  animation: fadein .4s ease-out both;
}

#circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px $blue;
  position: relative;
  cursor: pointer;
}
.circledone {
  background: $blue;
}
.fa-check {
  left: 100px;
  font-size: 18px;
  color: white;
  position: absolute;
  left: 3px;
  bottom: 2px;
}
#itemcontainer {
  width: 80%;
  padding: 0px 10px;
  word-wrap: break-word;
}
.done {
  color: grey;
}
.fa-times {
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 5px;
}
@media screen and (max-width: 600px) {
  * {
    margin-top: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  #taskform {
    width: 80%;
  }
}